  <div class="row" >
    <div class="large-8 columns">
      <div class="flex-video">
        <iframe src="http://www.youtube.com/embed/bB-bs0Y7kmc?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="large-4 columns hide-for-small">
      
      <div class="row text-center"><br/><br/>
      <%= link_to "Take The RPI Now!", take_survey_path, :class => "large radius button success" %>
      </div>
      
      <div class="row text-center ">
          <div id="fb-root"></div>
          <p><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
            <fb:like-box href="http://www.facebook.com/biggergains" show_faces="true" stream="false" header="false"></fb:like-box>
          <div class='sociable'>
            <div><iframe src='http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fbiggergains.com%2Frci%2F&amp;layout=standard&amp;colorscheme=light&amp;show_faces=false' scrolling='no' frameborder='0' class='sociable-fb-standard'></iframe></div>
          </div>
      </div>

    </div>

  </div>

    <!-- mobile screen -->
 <div class="row">
  <div class="large-12 columns show-for-small">
    <a href="/take_survey" class="radius button success" style="width: 100%">Take The RPI Now!</a>
  </div>
 </div>
 
<!-- personality types -->

   <div class="row hide-for-small" >
    
    <div class="large-12 large-centered columns text-center">
      <h4 style='font-family: "Trajan Pro"; letter-spacing: 4px; '>WHICH RAW PERSONALITY DO YOU HAVE?</h4><br/>

      <ul data-orbit data-options="timer_speed:5000; slide_number: false; bullets: false; timer: true;">
        <li>
          
          <% @personalty_types[0..3].each do |p| %>
          <div class="large-3 columns personality-main" >
            <a href="<%= personality_type_path(p) %>"><img src="/img/avatar.gif" /></a>
            <div  style="font-size: 10px"><%= p.title %></div>
          </div>
          <% end %>
        
        </li>

        <li>
          
          <% @personalty_types[4..7].each do |p| %>
          <div class="large-3 columns personality-main">
            <a href="<%= personality_type_path(p) %>"><img src="/img/avatar.gif" /></a>
            <div class="text-center"><%= p.title %></div>
          </div>
          <% end %>
        
        </li>

        <li>
          
          <% @personalty_types[8..11].each do |p| %>
          <div class="large-3 columns personality-main">
            <a href="<%= personality_type_path(p) %>"><img src="/img/avatar.gif" /></a>
            <div class=" text-center" ><%= p.title %></div>
          </div>
          <% end %>
        
        </li>


        <li>
          
          <% @personalty_types[12..15].each do |p| %>
          <div class="large-3 columns personality-main">
            <a href="<%= personality_type_path(p) %>"><img  src="/img/avatar.gif" /></a>
            <div class=" text-center"><%= p.title %></div>
          </div>
          <% end %>
        
        </li>
      </ul>

    </div>
  </div><br/>