<% title "RPI | Bigger Gains International" %>
  <div class="row" >
    <div class="large-10 large-centered columns">
      <div class="flex-video widescreen">
        <iframe src="http://www.youtube.com/embed/s-7mqmWOQNI?controls=0&amp;rel=0&amp;loop=1&amp;autoplay=0&amp;showsearch=0&amp;version=3&amp;showinfo=0&amp;modestbranding=0&amp;fs=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

    <!-- mobile screen -->
 <div class="row">
  <div class="large-12 columns show-for-small">
    <a href="/take_survey" class="radius button success" style="width: 100%">Take The RPI Now!</a>
  </div>
 </div>
 
<!-- personality types -->

 <div class="row hide-for-small" >
  
  <div class="large-12 large-centered columns text-center"><br/>
    <h2 style='letter-spacing: 4px; font-size: 3em; font-weight: normal'>What's your Raw Personality?</h2><br/><h3><a href="/take_survey" class="small radius button success"><i class="general foundicon-idea"></i>&nbsp;Find Out!</a></h3><br/>
  </div>
</div>

<div class="row text-center">
      <% @personalty_types[0..3].each do |p| %>
      <div class="large-3 columns personality-main" >
        <a href="<%= personality_type_path(p) %>"><img src="/img/types_100/<%= p.name %>.png" /></a>
        <div  style="font-size: 10px"><%= p.title %></div>
      </div>
      <% end %>
</div>

<div class="row text-center">
      <% @personalty_types[4..7].each do |p| %>
      <div class="large-3 columns personality-main" >
        <a href="<%= personality_type_path(p) %>"><img src="/img/types_100/<%= p.name %>.png" /></a>
        <div  style="font-size: 10px"><%= p.title %></div>
      </div>
      <% end %>
</div>

<div class="row text-center">
      <% @personalty_types[8..11].each do |p| %>
      <div class="large-3 columns personality-main" >
        <a href="<%= personality_type_path(p) %>"><img src="/img/types_100/<%= p.name %>.png" /></a>
        <div  style="font-size: 10px"><%= p.title %></div>
      </div>
      <% end %>
</div>

<div class="row text-center">
      <% @personalty_types[12..15].each do |p| %>
      <div class="large-3 columns personality-main" >
        <a href="<%= personality_type_path(p) %>"><img src="/img/types_100/<%= p.name %>.png" /></a>
        <div  style="font-size: 10px"><%= p.title %></div>
      </div>
      <% end %>
</div>

<div class="row hide-for-small">
  <div class="large-12 large-centered columns">
  </div>
</div>