<div class="row">
	<div class="large-6 large-centered text-center columns">
		<%= will_paginate @survey_users %>
	</div>
</div><br/>
<div class="row">
	<div class="large-4 large-centered columns">
		<%= form_tag survey_users_path, :method => 'get', :id => "survey_users_search" do %>
		    	<%= text_field_tag :search, params[:search] %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="large-12  columns">
		<table style="width:100%">
			<tr>
				<th>ID</th>
				<th>Personality</th>
				<th>First</th>
				<th>Last</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Gender</th>
				<th>Created</th>
				<th colspan="2" class="text-center"><a href="<%= @csv_url %>"<%= params[:search] %>><i class="general foundicon-address-book" style="font-size: 2.5em; color:#2EC12E"></i></a>
				</th>
			</tr>
			<% @survey_users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.personality_type %></td>
					<td><%= user.first_name %></td>
					<td><%= user.last_name %></td>
					<td><%= link_to user.email, "mailto:#{user.email}" %></td>
					<td><%= user.phone %></td>
					<td><%= user.gender %></td>
					<td><%= user.account_created %></td>
					<td><%= link_to "Show", survey_user_path(user), :class => "tiny radius button" %></td>
					<td><%= link_to 'Destroy', survey_user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "tiny radius button alert" %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div><br/>
