<% title "RPI | #{@personality_type.title}" %>

<div  style="background-color: #EAEEEE; border-top:2px solid #FFF; border-bottom: 1px solid #FFF; height:137px; margin-bottom:50px">

    <!-- Find Your RPI Button -->
    <div class="floating-personality-title-background hide-for-small">
        <img src="/img/profile/title-banner.png" />
    </div>
    <!-- End Button -->

        <!-- Find Your RPI Button -->
    <div class="floating-personality-title hide-for-small">
        <span><%= @personality_type.title %></span>
    </div>
    <!-- End Button -->

    <!-- Find Your RPI Button -->
    <div class="floating-find-your-rpi">
        <a href="/take_survey"><img src="/img/profile/find-your-rpi.png" /></a>
    </div>
    <!-- End Button -->
    <div class="row">
      <div class="large-12 large-centered columns text-center fixed-personality-title">
        <span><%= @personality_type.title %></span>
      </div>
    </div>
</div>

<div class="row">
	<div class="large-8 large-centered columns">
		<span class="public_description"><%= @personality_type.public_description.html_safe %></span>
	</div>
</div><br/>
<% if survey_user || current_user %>
  <div class="row">
    <div class="large-8 large-centered columns">
      <%= @personality_type.private_description.html_safe %><hr/>
    </div>
  </div><br/>
<% end %>

<div class="row">
	<div class="large-8 large-centered columns text-center">
		<a class="radius button"  style="background-color: #3B5998" href="#" onclick="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
  <i class="social foundicon-facebook"></i>&nbsp;Share On Facebook!</a>
  <a class="radius button" style="background-color: #4099FF" href="https://twitter.com/share"><i class="social foundicon-twitter"></i>&nbsp;Share On Twitter!</a>
  <% if survey_user %>
  	<%= link_to 'Done!', logout_path, :class => "radius button success" %>
  <% else %>
    <a class="radius button success" href="/"><i class="general foundicon-idea"></i>&nbsp;Find Your RPI!</a>
  <% end %>
	</div>
</div>