<% title "RPI | #{@personality_type.title}" %>
<br/>
<div class="row">
  <div class="large-4 large-centered columns text-center">
    <img src="/img/types_400/<%= @personality_type.name %>.png" />
  </div>
</div><br/>
<div class="row">
	<div class="large-8 large-centered columns text-center">
		<h4 style='font-family: "Trajan Pro"; letter-spacing: 4px;'>~<%= @personality_type.title %>~</h4><hr/>
	</div>
</div>

<div class="row">
	<div class="large-8 large-centered columns">
		<%= @personality_type.public_description.html_safe %>
	</div>
</div><br/>
<% if survey_user || current_user %>
  <div class="row">
    <div class="large-8 large-centered columns">
      <%= @personality_type.private_description.html_safe %><hr/>
    </div>
  </div><br/>
<% end %>

<div class="row">
	<div class="large-8 large-centered columns text-center">
		<a class="radius button"  style="background-color: #3B5998" href="#" onclick="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
  <i class="social foundicon-facebook"></i>&nbsp;Share On Facebook!</a>
  <a class="radius button" style="background-color: #4099FF" href="https://twitter.com/share"><i class="social foundicon-twitter"></i>&nbsp;Share On Twitter!</a>
  <% if survey_user %>
  	<%= link_to 'Done!', logout_path, :class => "radius button success" %>
  <% else %>
    <a class="radius button success" href="/"><i class="general foundicon-idea"></i>&nbsp;Find Your RPI!</a>
  <% end %>
	</div>
</div>