  <!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= yield(:title) || "RPI | Bigger Gains International" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<div id="layout">

  <div  style="background-color: #EF754A;">

    <!-- header and nav -->
    <div class="row" style="margin-bottom:30px">
      <div class="large-4 columns" style="margin-top:130px" >
        <a href="/take_survey"><img src="/img/header/get_started.png" /></a>
      </div>
      <div class="large-4 columns" style="margin-top:100px">
        <img src="/img/header/rpi_logo.png" />
      </div>
      <div class="large-4 columns" style="margin-top:130px"  >
        <ul class="inline-list right">
          <li><a href="#"><img src="/img/header/facebook.png"/></a></li>
          <li><a href="#"><img src="/img/header/twitter.png"/></a></li>
          <li><a href="#"><img src="/img/header/linkedin.png"/></a></li>
          <li><a href="#"><img src="/img/header/youtube.png"/></a></li>
        </ul>
      </div>
    </div>

    <!-- movie -->
    <div class="row" >
      <div class="large-12 large-centered columns" style="background-image:url('/img/movie/background.png'); height:460px; width:960px">
      </div>
    </div>

  </div>
